<div *ngIf="form">
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-control"
  [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
    <label for="title">
     Title:
   </label>
    <input id="title" type="text" formControlName="title">
   <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
    <small *ngIf="form.get('title').errors.required">
      Enter name of Receipt!
    </small>
  </div>
</div>

  <div class="form-control">
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">
    Save Changes!
  </button>
</form>
</div>

<ng-template #loading>
  <p class="text-center"> Loading... </p>
</ng-template>
